button
	outline: none
	border-radius: 0

.btn
	display: inline-block
	background: transparent
	font-size: 16px
	padding: 13px 18px
	text-transform: uppercase
	transition: 0.4s
	text-decoration: none
	outline: none
	border: 2px solid #fff
	cursor: pointer
	text-align: center

	&:hover
		background: #fff
		color: #000

	&--light
		border: 1px solid #6D6D6D
		border-radius: 0
		&:hover
			color: $red

	&-default
		border-radius: 0
		color: $orange
		border: 1px solid $orange
		position: relative
		padding-right: 40px
		span
			position: relative
			z-index: 2
		&:before
			font-family: 'iconic'
			position: absolute
			right: 20px
			z-index: 2
			transition: .4s

		&:after
			content: ''
			position: absolute
			width: 30px
			height: 30px
			right: -5px
			bottom: -5px
			background: #fff
			transition: .4s
		&:hover
			color: $orange
			&:before
				right: 10px
			&:after
				width: 0px
				height: 0px

	&--arr
		&:before
			content: '\E004'

	&--add
		&:before
			content: '\E011'

	&--close
		&:before
			content: url('../images/icons/close.png')
			right: 15px