.input
  outline: none
  width: 100%
  border: none
  padding: 10px 20px
  box-sizing: border-box

  &-wrap
    position: relative

  &-default
    width: 100%
    border: 1px solid $orange
    outline: none
    background: transparent
    color: $red
    padding: 4px 25px

  &-calendar
    &:after
      content: ''
      width: 35px
      height: 35px
      position: absolute
      right: 10px
      top: 50%
      transform: translateY(-50%)
      background: url('../../images/icons/calendar.svg') center center no-repeat
      background-size: 22px
    .input
      padding-right: 35px

  &-search
    position: relative
    .input
      background: transparent
      border: 1px solid $orange
    button
      border: none
      background: none
      outline: none
      position: absolute
      top: 50%
      transform: translateY(-50%)
      right: 20px
      i       
        color: $orange

  &-checkbox
    margin-left: 30px
    label
      display: flex
      cursor: pointer
      margin-bottom: 0
    input[type=checkbox]
      display: none

      &:checked + small:after
        top: -7px
        opacity: 1

    span
      color: #000
      font-size: 18px

    small
      display: inline-block
      height: 18px
      width: 18px
      border: 2px solid $orange
      margin-right: 10px
      transition: .3s
      position: relative
      flex-shrink: 0
      &:after
        content: url('../../images/icons/checked.png')
        position: absolute
        top: -6px
        right: -6px
        transition: .3s
        opacity: 0


textarea
  outline: none
  width: 100%
  min-height: 150px
  padding: 10px 20px
  box-sizing: border-box
  border: 1px solid $orange
  margin: 15px 0
  +placeholder
    font-size: 21px
    font-weight: 300


select.js-select
  display: none

.jq-selectbox
  width: 100%
  border: 1px solid $orange
  padding: 4px 20px
  cursor: pointer
  position: relative
  color: $red

.jq-selectbox__dropdown
  position: absolute
  left: -1px!important
  right: -1px!important
  top: 45px!important
  background: #fff
  border: 1px solid $orange
  cursor: pointer
  ul
    padding: 5px 0
    margin-bottom: 0
  li
    padding: 0 20px
    transition: .3s
    &:hover
      color: $orange

.jq-selectbox__trigger
  &:after
    content: ''
    width: 20px
    height: 20px
    background: url('../../images/icons/arrow-down.svg') center center no-repeat
    background-size: 15px
    position: absolute
    right: 15px
    top: 50%
    transform: translateY(-50%)