@import _base

html, body
	font-size: 18px
	font-family: $baseFont
	font-weight: 400
	overflow-x: hidden
	min-width: 320px
	min-height: 100%
	color: $baseTxt

@media screen and (max-width: $mobile)
  html, body
    font-size: 16px

.wrapper
	max-width: 1300px
	margin: auto
	padding: 0 40px

img
	max-width: 100%

@media screen and (max-width: $tablet)
	.wrapper
		padding: 0 25px

@media screen and (max-width: $mobileLg)
	.wrapper
		padding: 0 15px



// Глобальный стиль для flex расположении
.fxbox
  display: flex
  margin-left: -25px
  margin-right: -25px
  &--wrap
    flex-wrap: wrap
  &--col
    flex-direction: column
  &--ai-c
    align-items: center
  &--ai-fs
    align-items: flex-start
  &--ai-fe
    align-items: flex-end
  &--jc-c
    justify-content: center
  &--jc-sb
    justify-content: space-between
  &--jc-sa
    justify-content: space-around
  &-item
    padding: 0 25px
    box-sizing: border-box

.w100
  width: 100%
.w80
  width: 80%
.w66
  width: 33.333% * 2
.w50
  width: 50%
.w40
  width: 40%
.w33
  width: 33.333%
.w30
  width: 30%
.w25
  width: 25%
.w20
  width: 20%
.h100
  height: 100%
.h50
  height: 50%


.fz19
  font-size: 19px
  td
    font-size: 19px
.fz20
  font-size: 20px
  td
    font-size: 20px
.fz21
  font-size: 21px
  td
    font-size: 21px
.fz22
  font-size: 22px
  td
    font-size: 22px

.txt-center
  text-align: center!important
  td
    text-align: center!important
.txt-left
  text-align: left!important
  td
    text-align: center!important
.txt-right
  text-align: right!important
  td
    text-align: center!important