p, span, small, b, strong, i
  line-height: 1.3
  
h1,.h1
  font-size: 80px
  line-height: 1
  font-family: $sndFont
  &--blue
    color: $blue

h2,.h2
  display: inline-block
  font-size: 60px
  color: $orange
  border-bottom: 1px solid $orange
  &--blue
    color: $blue


h3,.h3
  font-size: 33px
  margin-bottom: 40px
  &--blue
    color: $blue


h4,.h4
  font-size: 26px
  &--blue
    color: $blue

@media screen and (max-width: 960px)
  h1,.h1
    font-size: 60px

  h3,.h3
    font-size: 27px
  h4,.h4
    font-size: 22px

@media screen and (max-width: $tablet)
  h2,.h2
    font-size: 45px

@media screen and (max-width: $mobile)
  h1,.h1
    font-size: 38px

  h2,.h2
    font-size: 30px

  h3,.h3
    font-size: 24px

.c-red
  color: $red

.c-orange
  color: $orange

.c-blue
  color: $blue

.tal
  text-align: left

.tar
  text-align: right

.tac
  text-align: center