// header
header.header
  .wrapper
    .header-inner
      a(href="#!").header-logo
        img(src="../../images/icons/logo.png", alt="")
      .header-geo
        select.js-select
          option Шымкент
          option Туркестан
          option Ленгер
          option Арыс
      ul.header-nav
        li: a(href="#!").link.link--default.active Школа
        li: a(href="#!").link.link--default Детский сад
        li: a(href="#!").link.link--default Аналитика
        li: a(href="#!").link.link--default Обратная связь
      .header-profile
        a(href="#!").link.link--default Регистрация
        select.header-lang
          option Рус
          option Каз
          option Англ
        .header-user.js-dropdawn
          div
            i.fas.fa-user-circle.icon
            | Саулембеков
          ul.dropdawn
            li
              a(href="#!").link Lorem, ipsum
            li
              a(href="#!").link Lorem, ipsum
            li
              a(href="#!").link Lorem, ipsum

        .header-login.js-dropdawn(style="display: none")
          div
            | Вход
            i.fas.fa-sign-in-alt.icon
          ul.dropdawn
            li
              a(href="#!").link Lorem, ipsum
            li
              a(href="#!").link Lorem, ipsum
            li
              a(href="#!").link Lorem, ipsum

        a(href="#!").link.link--default.header-login(style="display: none")
          | Выйти
          i.fas.fa-sign-in-alt.icon
      .header-menu-btn
        #nav-icon1
          span
          span
          span
      ul.header-mobile-menu
        li: a(href="#!").link Школа
        li: a(href="#!").link Детский сад
        li: a(href="#!").link Аналитика
        li: a(href="#!").link Обратная связь
        li: a(href="#!").link Регистрация