.rate
  i.iconic.iconic--star-2.rate-item.active
  i.iconic.iconic--star-2.rate-item.active
  i.iconic.iconic--star-2.rate-item.active
  i.iconic.iconic--star-2.rate-item
  i.iconic.iconic--star-2.rate-item