.page-arm
  .footer
    margin-top: 0
  .main
    display: flex
    padding-top: 0

  .footer
    padding: 15px 40px 
    font-size: 15px
    color: rgba(#fff, .4)

  .footer-logo
    width: 150px
    margin-bottom: 5px
  
.header--arm
  position: static
  background: #25292A
  color: #fff
  padding: 0 40px

  .header
    &-inner
      height: 75px
    &-slogan
      flex-grow: 1
      font-size: 30px

    &-logo
      margin-top: -9px

    &-lang
      margin: 0 30px
      select
        border: none
        border-radius: 15px
        padding: 4px 7px
        outline: none

    &-login
      color: #fff

      .fas
        margin-right: 10px


    &-search
      .input-wrap
        position: relative
      input
        border-radius: 15px
        outline: none
        border: none
        padding: 4px 10px
      button
        position: absolute
        right: 5px
        top: 50%
        transform: translateY(-50%)
        background: none
        border: none
        outline: none
        .fas
          font-size: 15px
          color: #BDBAB9


.armd
  width: 100%
  &-inner
    display: flex
    height: 100%
  &-sidebar
    background: #EC7160
    max-width: 240px
    width: 100%
    flex-shrink: 0
    color: #fff

  &-profile
    background: url('../images/arm-img-1.png') left center no-repeat

    &__avatar
      margin: 25px
      border-radius: 50%
      box-shadow: 0px 10px 53px 1px rgba(0,0,0,0.7)
    &__user
      max-width: 150px
      padding: 3px 15px
      background: rgba(gray, .9)
      color: #fff
      text-align: center
      box-shadow: 0px 10px 53px 1px rgba(0,0,0,0.7)

      small
        display: block

  &-nav
    margin-top: 20px
    & > li
      position: relative
    &__sub
      display: none
      background: #A43A37
      border-left: 6px solid #F9AF3C

      .link
        display: block
        color: #fff
        padding: 7px 15px
        font-size: 15px
        &:hover
          color: #F9AF3C


    &__item
      display: flex
      align-items: flex-start
      color: #fff
      padding: 10px 15px
      border-left: 6px solid transparent
      box-sizing: border-box
      font-size: 17px

      &:hover, &.active
        background: #C3423D
        border-left-color: #F9AF3C
        color: #fff

    &__icon
      flex-shrink: 0
      margin-right: 10px

.armd
  &-content
    background: #F2F2F3
    flex-grow: 1

    .button-wrap
      justify-content: flex-end
      padding-left: 0

      .btn:last-child
        margin-right: 25px

    .btn-default
      &:after
        background: #F2F2F3
      &:hover
        background: transparent

    &__top
      display: flex
      justify-content: space-between
      background: #fff
      padding: 12px 25px
      box-shadow: -1px 10px 24px -4px rgba(0,0,0,0.1)

    &__title
      font-size: 30px
      color: $orange

    &__inner
      padding: 40px

    table
      td
        font-size: 20px!important
        vertical-align: middle

      .input-wrap
        position: relative
        input
          background: transparent
          padding: 0
          padding-left: 40px
        button
          position: absolute
          top: 0
          left: 0
          background: none
          border: none
          z-index: 2
          cursor: pointer
          outline: none
        &.calendar
          input
            background: url('../images/icons/calendar.svg') right center no-repeat, transparent
            background-size: 25px

      thead
        .fas
          color: $orange          
        tr:first-child
          td
            background: #EC7160
            color: #fff
            text-align: center!important
        tr:nth-child(2)
          td
            text-align: left!important
            border: 1px solid $orange
        td
          border: 1px solid $orange
          padding-left: 15px
          padding-right: 15px

    .table-no-border
      table-layout: auto
      tr, td
        border: none!important
        

  &-breadcrumb
    font-size: 24px
    margin-right: 25px
    .link
      color: $orange
      margin-right: 30px
      position: relative
      &:after
        content: url('../images/icons/arrow-right.png')
        position: absolute
        top: 0px
        right: -16px
      &:last-child
        margin-right: 0



@media screen and (max-width: 1100px)
  .armd-inner
    flex-direction: column
  .armd-sidebar
    width: 100%
    max-width: 100%

  .armd
    .button-wrap
      justify-content: flex-start
      width: 100%

@media screen and (max-width: 940px)
  .header--arm
    .header-slogan
      display: none

    .header-search
      flex-grow: 1
      input
        width: 100%

@media screen and (max-width: 700px)
  .header--arm
    .header-inner
      flex-wrap: wrap
    .header-logo
      width: 100%
      margin-bottom: 15px
      display: flex
      justify-content: center

    .header-inner
      height: auto
      padding: 20px 0

  .armd-content__top
    flex-direction: column

@media screen and (max-width: 525px)
  .armd-content__inner
    padding-left: 15px
    padding-right: 15px
  .header--arm
    padding: 0 25px
    .header-search, .header-lang, .header-lang select
      width: 100%
    form
      margin-bottom: 15px
    .header-inner
      flex-direction: column
    .header-lang
      margin-bottom: 15px

  .armd-breadcrumb
    font-size: 18px

  .w80
    width: 100%

  .armd
    .button-wrap
      .btn
        margin-right: 0!important