.button-wrap
  display: flex
  margin-top: 40px
  padding-left: 50%

  .btn
    margin-top: 30px
    margin-right: 15px
  
.cabinet
  .h2
    margin-left: 40px



  .input-wrap, .jq-selectbox
    max-width: 550px  

.resume
  &-list
    display: flex
    flex-wrap: wrap

  &-item
    text-align: center
    padding: 0 15px
    margin-bottom: 25px
    &__title
      margin-bottom: 0px
      color: $blue

  &-status
    color: #7bbc3c
    font-size: 20px

  .h3
    color: $blue
    margin-bottom: 0

  &-logo
    font-size: 120px
    line-height: 1
    color: $red
    margin: 15px 0

  &-date
    color: #848484
    font-size: 20px

  &-control
    margin-top: 15px
    a
      color: $orange
      margin: 0 8px
      &:hover
        color: $red

  &-create
    padding-top: 30px

  &-avatar
    margin-bottom: 20px
    img
      max-width: 200px
      box-shadow: 3px 10px 27px 0px rgba(0,0,0,0.4)

.resume-edit
  .fxbox
    margin-left: 0
    margin-right: 0
  &__block
    margin-bottom: 50px
  &__elem
    font-size: 25px
    font-family: $roboto
    &>div
      padding: 10px 0 15px
    &--border
      &>div
        border-top: 1px solid $orange
        border-bottom: 1px solid $orange
        margin-top: 15px
  &__title
    margin-bottom: 40px
    span
      font-size: 28px
      color: $blue
    .icon
      color: #C74B38
      font-size: 25px
      margin-right: 20px
    &.require
      &:after
        content: '*'
        color: $red
        font-size: 30px
  table
    td
      width: 50%
      padding-right: 20px

  .button-wrap
    margin-top: 0
  
.position
  .tag-wrap
    padding: 30px 0


@media screen and (max-width: 700px)


  .shadow-title
    left: 0
  .button-wrap
    padding-left: 0
    justify-content: center

  .experience
    table .fxbox
      flex-direction: column
      &>div
        width: 100%      
      .input-checkbox
        margin-top: 15px
        margin-left: 0

  .resume-edit__elem
    font-size: 22px
    width: 100%
    .fxbox
      flex-direction: column

@media screen and (max-width: $mobile)
  .cabinet
    .h2
      margin-bottom: 25px
    table
      td
        font-size: 18px
        padding-left: 0
        padding-right: 0

  .button-wrap
    margin-top: 0
    flex-direction: column
    justify-content: center

  .resume-item
    width: 100%
  .resume-edit__elem
    font-size: 18px
  .resume-edit__title span
    font-size: 23px