.candidat
  &-popup
    position: relative
    background: #ffffff
    max-width: 1000px
    margin: auto
    max-height: 100vh
    overflow: auto
    padding: 30px
    table 
      td
        padding-top: 6px
        padding-bottom: 6px
        font-size: 18px
        &:first-child
          text-align: right!important
        &:nth-child(2)
          color: #57A8C5

      tfoot
        border-top: 1px solid $orange

      .input-checkbox
        margin-bottom: 10px
        margin-left: 0 

      .link
        color: #57A8C5  

    &__name
      display: flex
      justify-content: center
      text-align: center
      .h3
        font-size: 35px
        margin-bottom: 18px
        position: relative
        &:after
          content: ''
          display: block
          position: absolute
          bottom: -10px
          left: 40px
          right: 40px
          background: $orange
          height: 1px

    .button-wrap
      margin-top: 0
      padding-left: 0
      display: flex
      justify-content: flex-end
      .btn:last-child
        margin-right: 0
  .h3
    font-size: 40px
    margin-bottom: 18px
    position: relative
    &:after
      content: ''
      display: block
      position: absolute
      bottom: -10px
      left: -20px
      right: -20px
      background: $orange
      height: 1px
  &-title
    margin-top: 40px
    text-align: center
    display: flex
    flex-direction: column
    align-items: center
    color: #878381
    p
      font-size: 22px    

  &-wrap
    display: flex
    flex-wrap: wrap
    margin: 10px 0 40px
  
  &-item
    display: block
    text-align: center    
    img
      display: block
      transition: .5s

    span
      margin-top: 10px
      display: block
      font-size: 24px
      color: $blue

    &:hover
      img
        transform: scale(1.05)

  &-card__wrap
    max-width: 700px
    margin: auto
    text-align: center

  &-card
    border: 1px solid #F5A056
    padding: 20px 40px 30px
    margin-bottom: 25px
    position: relative

    &:after
      content: ''
      display: block
      width: 99px
      height: 99px
      background: #fff
      position: absolute
      right: -30px
      top: -30px

    &:before
      content: url('../images/triangle.png')
      // +triangle(bottomleft, 70px, 70px, $orange)
      right: -2px
      top: -2px
      position: absolute
      z-index: 2

    strong
      font-size: 25px
      color: #57A8C5
      font-weight: 400

    table
      td
        font-size: 20px

    &__title
      display: flex
      flex-direction: column
      align-items: center
      color: #878381      

    .h3
      font-size: 45px
      & + span
        display: block
        font-size: 35px


@media screen and (max-width: 700px)
  .candidat-popup table td:first-child
    text-align: left!important


@media screen and (max-width: 480px)

  .candidat-popup
    padding-left: 15px
    padding-right: 15px
  .candidat
    margin-bottom: 40px
  .candidat-item
    width: 100%
    text-align: center
    img
      display: inline-block

  .candidat-card .h3
    font-size: 28px
    & + span
      font-size: 25px

  .candidat-card
    padding-left: 10px
    padding-right: 10px
    padding-top: 70px