#particles-js
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
.promo
  position: relative
  padding-bottom: 100px


  &-inner
    padding-top: 150px
    position: relative
    z-index: 2

  h1
    margin-bottom: 50px
  h1, form
    max-width: 900px
    margin-left: auto
    margin-right: auto

  form
    width: 100%
    display: flex
    height: 60px
    margin-bottom: 100px
  .form-logo
    display: flex
    align-items: center
    background: $red
    color: #fff
    padding: 0 10px
    flex-shrink: 0
    span
      font-size: 22px
      border-bottom: 1px solid #fff

  .icon
    margin-right: 5px

  .input-wrap
    flex-grow: 1
    input
      width: 100%
      height: 60px
      background: rgba(#E5E5E5, .5)

  @media screen and (max-width: 960px)
    .promo-inner
      padding-top: 90px
  
  @media screen and (max-width: $tablet)
    padding-bottom: 30px

  @media screen and (max-width: $mobile)
    .form-logo span
      font-size: 16px
    .promo-inner
      padding-top: 45px
    .btn span
      display: none
    form
      margin-bottom: 55px

.promo-adv
  display: flex
  align-items: center
  flex-wrap: wrap
  margin: 0 -20px 0
  &__item
    width: calc(100% / 6)
    padding: 0 20px
    box-sizing: border-box
    display: flex
    align-items: center
  &__icon
    flex-shrink: 0
    max-width: 75px
    margin-right: 15px

  &__content
    span
      display: block
      color: $red
      font-size: 50px
      border-bottom: 2px solid $red
    small
      font-size: 15px
      display: block
      font-family: $sndFont
      color: #000
      line-height: 1
      margin-top: 5px

  @media screen and (max-width: $desktop)
    justify-content: center
    &__item
      width: calc(100% / 4)
      margin-bottom: 25px
  @media screen and (max-width: 860px)
    &__item
      width: calc(100% / 3)

  @media screen and (max-width: 660px)
    &__item
      width: calc(100% / 2)
  @media screen and (max-width: $mobile)
    &__item
      flex-direction: column
      justify-content: center
    &__icon
      margin-right: 0
      width: 50px
    &__content
      text-align: center    
.block
  position: relative
  padding: 40px 0

  &-inner
    position: relative

  .h2
    margin-bottom: 50px
  &-title
    position: relative
    &__icon
      width: 40px
      position: absolute
      left: -60px
      top: 5px
    @media screen and (max-width: 1300px)
      padding-left: 60px
      &__icon
        left: 0
  .btn
    margin-top: 30px

  &-list
    &__item
      border-bottom: 1px solid #dee2e6
      font-size: 20px
      margin-bottom: 10px

.shadow-title
  position: absolute
  top: -50px
  left: -100px
  font-size: 300px
  color: #F6F6F6
  font-weight: 900
  z-index: -1
  transition: margin 3s
  opacity: 0
  margin-left: -250px
  white-space: nowrap

.visible
  .shadow-title
    opacity: 1
    margin-left: 0

table
  font-size: 20px
  td:last-child
    text-align: right
    img
      max-width: 30px

.online-trans
  display: flex
  align-items: center
  justify-content: center
  max-width: 300px
  height: 250px
  box-shadow: 0px 9px 28px 1px rgba(0,0,0,0.16)
  background: #fff
  img
    max-width: 120px

.news
  .fxbox
    margin: 0 -30px
    &-item
      padding: 0 30px
  &-card
    background: #ffffff
    padding: 15px 25px 25px
    box-shadow: 0px 9px 28px 1px rgba(0,0,0,0.16)

    &__btn
      display: flex
      justify-content: flex-end
      .btn
        margin-top: 10px

    &__title
      font-size: 20px
      color: $blue
      margin-bottom: 10px
      line-height: 1.15

    &__top
      display: flex
      justify-content: flex-end
      margin-bottom: 15px
      .fas
        margin-right: 4px        

      &>a
        margin-right: 10px
        &:hover
          color: $orange
        &:last-child
          margin-right: 0

.achievements
  .block-title
    margin-left: 60px
    padding-left: 0!important
  .block-title__icon
    left: -60px!important

  &-cert
    box-shadow: 0px 9px 28px 1px rgba(0,0,0,0.16)


@media screen and (max-width: $laptopLg)
  .fxbox-item.w30
    width: 33%

@media screen and (max-width: 800px)
  .fxbox-item.w30,
  .fxbox-item.w33
    width: 100%
    margin-bottom: 45px
    &:last-child
      margin-bottom: 0


@media screen and (max-width: $laptop)
  .shadow-title
    font-size: 180px
    top: -30px

@media screen and (max-width: $mobile)
  .shadow-title
    font-size: 100px
    top: 0px
    left: 0
  .online-trans
    max-width: 100%