.news-item
  display: flex
  margin-bottom: 60px

  &__img
    margin-right: 20px
    max-width: 400px
    flex-shrink: 0

  &__content
    position: relative
    z-index: 2
    margin-top: -20px
    display: flex
    flex-direction: column    

  &__top
    display: flex
    justify-content: flex-end
    margin-bottom: 15px
    .icon
      color: #CA432D
      margin-right: 5px
    a
      margin-right: 15px
      &:last-child
        margin-right: 0

  &__title
    color: #CA432D
    font-size: 22px
    margin-bottom: 15px
    display: block
    line-height: 1

  .btn
    margin-top: 10px
    align-self: flex-end

.news-flex
  display: flex

.news-sidebar
  position: relative
  z-index: 2
  width: 300px
  flex-shrink: 0
  margin-left: 80px

  .tabs
    margin-top: -35px

  .tab-item
    max-height: 350px
    overflow: auto

  .tab-link
    font-size: 16px

  .tab-nav
    margin-bottom: 25px

.tab-news
  margin-bottom: 25px
  p
    margin-bottom: 0
    line-height: 1
  &__date
    color: #CA432D

.news-tag-wrap
  margin-top: 50px
  margin-bottom: 50px
  .h4
    margin-bottom: 30px
  .news-tag
    display: inline-block
    background: #283746
    color: #fff
    border-radius: 15px
    margin-bottom: 5px
    margin-right: 5px
    padding: 5px 10px
    font-size: 16px



@media screen and (max-width: 1100px)
  .news-flex
    flex-direction: column

  .news-sidebar
    width: 100%
    order: -1
    margin-left: 0
    margin-bottom: 30px
    margin-top: 30px

@media screen and (max-width: 700px)
  .news-item
    flex-direction: column
    margin-bottom: 45px
  .news-item__content
    margin-top: 15px
    margin-left: 0
  .news-item__img
    margin-right: 0

  .news-item__top
    justify-content: flex-start