.passport
  .h4
    font-weight: 300

  &-flex
    display: flex
    
  &-img
    margin-right: 70px
    .rate
      justify-content: center
      .iconic
        font-size: 35px
  &-info
    padding-top: 15px
    &__block
      border-bottom: 1px solid $orange
      margin-bottom: 20px
      padding-bottom: 20px
      &:last-child
        border: none
    &__item
      font-size: 24px
      display: flex
      margin-bottom: 10px
      font-weight: 300
      .iconic
        margin-top: 5px
        color: $red
        margin-right: 30px

  &-adv
    margin: 40px 0
    display: flex
    &__item
      width: 25%
      font-size: 22px
      text-align: center
      font-weight: 300
      padding: 0 20px
      box-sizing: border-box
      img
        margin-bottom: 10px

      span
        color: $orange

  table
    font-family: $baseFont
    font-weight: 300
    td
      text-align: center!important
      &:first-child
        text-align: left!important

  &-review
    margin-top: 30px

    .button-wrap
      padding-left: 0
      justify-content: flex-end
      margin-top: 15px
      .btn
        margin-right: 0
        margin-top: 0

.reviews
  display: flex
  flex-direction: column
  align-items: flex-start

.review
  &-block
    padding: 15px 25px
    border-radius: 25px
    border: 1px solid $orange
    margin-bottom: 25px
    position: relative    
    .rate
      justify-content: flex-end
      .iconic
        font-size: 18px
    p
      font-size: 20px
      font-weight: 300

  &-user
    color: $red
    margin-bottom: 15px
    font-size: 21px


@media screen and (max-width: 900px)
  .passport
    &-flex
      flex-direction: column

    &-img
      margin-right: 0
      width: 100%
      margin-bottom: 30px
      text-align: center

    &-adv
      flex-wrap: wrap
      &__item
        width: 50%

@media screen and (max-width: 480px)
  .passport
    &-adv__item
      width: 100%
