.table-data-page
  .tab-link
    background: none

  .tabs
    margin-top: 30px

  .tab-nav
    margin-bottom: 25px

  .jq-selectbox
    max-width: 350px
    box-sizing: border-box
    margin-right: 10px
    color: $baseTxt
    line-height: 37px
    margin-bottom: 15px

  .fxbox
    margin-left: 0
    margin-right: 0

  .input-wrap
    max-width: 350px
    width: 100%
    margin-bottom: 15px
    input
    margin-right: 10px

  table
    td
      font-size: 16px!important
      padding-right: 15px
      text-align: center!important

      &:nth-child(2)
        text-align: left!important