.page-vote
  .main
    display: flex
    flex-direction: column
    padding-top: 0
  .vote
    position: relative
    flex-grow: 1
    z-index: 2
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    text-align: center
    &-content
      padding: 30px 0
    &-inner
      position: relative
      z-index: 2

    &-logo
      max-width: 250px
      margin-bottom: 50px

    &-title
      font-size: 65px
      text-transform: uppercase
      line-height: 1
      color: #8D8988

    form
      .btn
        width: 190px

    .input-wrap
      margin: 40px 0
      input
        max-width: 560px
        width: 100%
        height: 80px
        line-height: 80px
        background: rgba(gray, .2)
        border: 1px solid $orange

  .footer
    margin-top: 0


@media screen and (max-width: 480px)
  .page-vote 
    .vote-title
      font-size: 38px
    .vote .input-wrap input
      height: 50px
      line-height: 50px

    .vote-logo
      max-width: 190px
      margin-bottom: 30px

  