.page
	display: flex
	flex-direction: column
	min-height: 100vh
	position: relative

.main
	flex-grow: 1

.wrapper--small
	max-width: 850px
	margin: auto
	padding: 0 40px
	@media screen and (max-width: 480px)
		padding: 0 20px

hr
  margin: 50px auto
  background: $orange

.js-dropdawn
	cursor: pointer
	position: relative
	.dropdawn
		display: none
		width: 200px
		box-sizing: border-box
		position: absolute
		left: 0
		top: 30px
		padding: 15px 0
		background: #fff
		box-shadow: -1px 5px 24px 2px rgba(0,0,0,0.1)
		a
			display: block
			padding: 8px 20px
			margin: 0

/* header */
.header
	position: fixed
	left: 0
	right: 0
	top: 0
	box-shadow: -1px 5px 24px 2px rgba(0,0,0,0.1)
	font-size: 17px
	font-weight: 600
	z-index: 3
	background: #fff
	line-height: 1
	&-inner
		height: 95px
		display: flex
		align-items: center
	&-logo
		display: flex
		align-items: center
		margin-right: 25px
		img
			max-width: 175px

	&-geo
		.jq-selectbox
			border: none
			padding-left: 25px
			color: $baseTxt
			margin-left: 20px
			&:before
				content: '\E00E'
				font-family: 'iconic'
				position: absolute
				color: $red
				left: 0
		.jq-selectbox__trigger:after
			display: none
		.jq-selectbox__dropdown
			top: 30px!important
			li
				padding: 6px 20px


	&-nav
		display: flex
		align-items: center
		flex-grow: 1
		margin-bottom: 0					
		.link
			display: flex
			align-items: center
			height: 95px
			font-weight: 500
			padding: 0 15px
			&:hover, &.active
				box-shadow: -1px 5px 24px 2px rgba(0,0,0,0.1)
				color: $red

	&-login
		.fas
			margin-left: 5px
			transform: translateY(2px)

	&-profile
		display: flex
		align-items: center
		a
			margin: 0 10px
			flex-shrink: 0
	&-user
		display: flex
		.icon
			flex-shrink: 0
			margin-right: 5px

	&-lang
		margin: 0 18px
		border: none
		outline: none

	&-mobile-menu
		display: none
		width: 320px
		position: absolute
		z-index: 3
		top: 65px
		right: 0
		background: #fff
		box-shadow: -1px 5px 24px 2px rgba(0,0,0,0.1)

		a
			display: block
			padding: 15px 25px
			&:hover
				background: #eee
				color: $red

	&-menu-btn
		position: absolute
		right: 20px
		top: 50%
		display: none
		transform: translateY(-50%) scale(.45)		

	@media screen and (max-width: $laptopLg)
		&-logo
			img
				max-width: 150px

	@media screen and (max-width: 930px)
		&-inner
			height: 65px
			padding-right: 55px
		&-nav, &-profile .link
			display: none
		&-menu-btn
			display: block
		&-logo
			margin-right: 0
			flex-grow: 1
		&-lang
			margin-right: 50px		

	@media screen and (max-width: 650px)
		&-inner
			flex-wrap: wrap
			height: auto
			justify-content: center
			padding: 10px 0
			.jq-selectbox
				margin-left: 0

		&-lang
			margin-right: 25px
			position: absolute
			top: 15px
			left: 0

		&-logo
			display: block
			width: 100%
			text-align: center
			margin-bottom: 20px

		&-menu-btn
			top: 30px
		

	@media screen and (max-width: $mobile)
		position: fixed
		background: #fff
		left: 0
		right: 0
		z-index: 5
		&-mobile-menu
			width: 100%
		&-menu-btn
			right: 0
		&-geo
			.jq-selectbox
				margin-left: 0		
		&-logo
			flex-grow: 0
			img
				max-width: 125px

/* end header */

.main
	padding-top: 95px

@media screen and (max-width: 930px)
	.main
		padding-top: 65px

@media screen and (max-width: 650px)
	.main
		padding-top: 90px

/* footer */
.footer
	margin-top: 60px
	background: #323333
	&-inner
		padding: 20px 0
		display: flex
		align-items: center
		color: #fff

	&-logo
		margin-right: 40px
		img
			max-width: 150px

	.fxbox
		margin: 0

	.icon
		color: #fff
		margin-right: 20px
		font-size: 25px
		margin-top: 12px
		transition: .4s
		&:hover
			opacity: .7
		&:last-child
			margin-right: 0

	&-social
		display: flex
		flex-direction: column
		flex-grow: 1
		span
			font-size: 15px
			text-transform: uppercase

	&-partner
		align-items: center
		flex-direction: column
		display: flex
		img
			max-width: 70px
		span
			font-size: 15px

	@media screen and (max-width: 600px)
		&-inner
			flex-wrap: wrap
		&-logo
			width: 100%
			text-align: center
			margin-bottom: 20px
			margin-right: 0
	
	@media screen and (max-width: $mobile)
		margin-top: 0
		text-align: center
		&-social
			align-items: center
		&-partner
			margin-top: 20px
			align-items: center
			width: 100%		



/* end footer */


.tag-wrap
	display: flex
	flex-wrap: wrap

.tag
	display: block
	border: 1px solid #EF7D76
	padding: 7px 18px
	font-size: 18px
	margin-right: 15px
	margin-bottom: 10px


.pagination
	display: flex
	flex-wrap: wrap
	justify-content: flex-end
	margin-top: 30px

	&-link
		font-size: 22px
		width: 30px
		height: 30px
		margin: 0 3px
		color: $red
		display: flex
		align-items: center
		justify-content: center
		border: 1px solid transparent
		&.active
			border-color: $orange



.rate
	display: flex
	margin: 25px -3px 0
	.iconic
		font-size: 30px
		color: lighten($orange, 30%)
		margin: 0 3px
		cursor: pointer

		&:hover, &.active
			color: #E63435

.tabs
	margin-top: 50px

.tab
	&-nav
		display: flex
		border-bottom: 1px solid $orange
		margin-bottom: 50px
	&-link
		font-size: 22px
		padding: 10px 15px
		color: $blue
		font-weight: 300
		background: #fff
		transition: 0s

		&.active
			border: 1px solid $orange
			border-radius: 25px 25px 0 0
			border-bottom: 0
			margin-bottom: -1px

	&-item
		display: none
		&.active
			display: block



// стили таблиц
table
	font-family: $roboto
	width: 100%
	thead
		td
			color: #000
	td
		font-size: 25px
		text-align: left!important
		padding: 12px 25px 12px 0
		text-align: left
	.fxbox
		margin-left: 0
		margin-right: 0
		.input-wrap
			max-width: 315px

.table-width-auto
	td
		width: auto!important

.table-orange
	tr
		border-bottom: 1px solid $orange


.table-wrap
	width: 100%
	overflow-x: auto
	table
		tr
			// display: table-row!important

@media screen and (max-width: 700px)
	table, td
		font-size: 18px!important
	.table-flex
		table
			tr
				display: flex
				flex-direction: column
			td
				width: 100%!important
				font-size: 20px
				padding: 7px 15px

		.block-inner h2
			margin-left: 0

		.input-wrap, .jq-selectbox
			max-width: 100%!important
			width: 100%!important

@media screen and (max-width: $mobile)
	table, td
		font-size: 16px!important