-var dir = "../..";
doctype
html
  head
    meta(charset = 'utf-8')
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
    link(href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet")
    link(href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet")
    link(rel="stylesheet" href="#{dir}/css/vendor.min.css")
    link(rel="stylesheet" href="#{dir}/css/common.min.css")
    title tHunter
  body
    .page.page-arm
      header.header.header--arm
        .header-inner
          a(href="#!").header-logo
            img(src="../../images/icons/logo-arm.png", alt="")
          .header-slogan | АРМ ДИРЕКТОР
          .header-search
            form(action="#!")
              .input-wrap
                input(type="text" placeholder="Поиск")
                button
                  i.fas.fa-search.icon
          .header-lang
            select
              option Рус
              option Каз
              option Англ
          a(href="#!").link.link--default.header-login
            i.fas.fa-sign-in-alt.icon
            | Выйти							

      // main
      main.main
        .armd
          .armd-inner
            .armd-sidebar
              .armd-profile
                img(src="../../images/arm-img-2.png", alt="").armd-profile__avatar
                .armd-profile__user САУЛЕМБЕКОВ
                  small Администратор

              ul.armd-nav
                li.dropdown
                  a(href="#!").armd-nav__item.link
                    .armd-nav__icon
                      i.iconic.iconic--diary
                    span Реестр вакансии
                  ul.armd-nav__sub
                    li: a(href="#!").link Подтвержденные вакансии
                    li: a(href="#!").link Прошли собеседование
                    li: a(href="#!").link Закрытые вакансии
                li.dropdown
                  a(href="#!").armd-nav__item.link
                    .armd-nav__icon
                      i.iconic.iconic--open-book
                    span Открытые вакансии
                  ul.armd-nav__sub
                    li: a(href="#!").link Подтвержденные вакансии
                    li: a(href="#!").link Прошли собеседование
                    li: a(href="#!").link Закрытые вакансии
                li.dropdown
                  a(href="#!").armd-nav__item.link
                    .armd-nav__icon
                      i.iconic.iconic--list
                    span Задачи на обработку
                  ul.armd-nav__sub
                    li: a(href="#!").link Подтвержденные вакансии
                    li: a(href="#!").link Прошли собеседование
                    li: a(href="#!").link Закрытые вакансии
                li.dropdown
                  a(href="#!").armd-nav__item.link
                    .armd-nav__icon
                      i.iconic.iconic--diary
                    span Родительский комитет
                  ul.armd-nav__sub
                    li: a(href="#!").link Подтвержденные вакансии
                    li: a(href="#!").link Прошли собеседование
                    li: a(href="#!").link Закрытые вакансии
                li
                  a(href="#!").armd-nav__item.link
                    .armd-nav__icon
                      i.iconic.iconic--settings
                    span Настройки
                li
                  a(href="#!").armd-nav__item.link
                    .armd-nav__icon
                      i.fas.fa-sign-in-alt
                    span Выйти

            .armd-content
              .armd-content__top
                .armd-content__title Реестр вакансии
                .armd-breadcrumb
                  a(href="#!").link Главная
                  a(href="#!").link Реестр
                  span.link.active Открытые

              .armd-content__inner
                .table-wrap
                  table.table-orange.txt-center
                    thead
                      tr
                        td Наименование  вакансии
                        td Наименование  вакансии
                        td Наименование  вакансии
                        td Наименование  вакансии
                        td Наименование  вакансии
                      tr
                        td
                          .input-wrap
                            input.input(type="text")
                            button
                              i.fas.fa-search.icon
                        td
                          .input-wrap
                            input.input(type="text")
                            button
                              i.fas.fa-search.icon
                        td
                          .input-wrap
                            input.input(type="text")
                            button
                              i.fas.fa-search.icon
                        td
                          .input-wrap.calendar
                            input.input(type="text")
                            button
                              i.fas.fa-search.icon
                        td
                          .input-wrap
                            input.input(type="text")
                            button
                              i.fas.fa-search.icon
                    tbody
                      tr
                        td.c-blue Математика
                        td 2
                        td №89 Средняя общеобразовательная школа
                        td 18.01.2018
                        td
                      tr
                        td.c-blue Математика
                        td 2
                        td №89 Средняя общеобразовательная школа
                        td 18.01.2018
                        td
          

      // footer
      footer.footer
        div
          img(src="../../images/icons/logo-arm.png", alt="").footer-logo
        div Тел.: 8(7172) 777-888
        div 
          span Почта: t-hunter@mail.ru
          span @ 2018. Все права защищены. “T-hunter”          


    // vendor js
    script(src='#{dir}/scripts/libs.js')
    // common.js
    script(src='#{dir}/scripts/common.min.js')