extends ../template/template

- var pageClass = 'page-candidat'

block header
  include ../particles/header.jade

block content

  .candidat
    .wrapper
      .candidat-title
        h3.h3 Кандидаты
        p Выберите кандидата нажав на его фото
      .candidat-wrap
        a(href="#candidat-popup").candidat-item.link.popup-with-move-anim
          img(src="../../images/candidat-card.png", alt="")
          span Саулембеков Е.А.

      .candidat-card__wrap
        .candidat-card
          .candidat-card__title
            h3.h3 Карточка вакансии
            span Математика
          .table-wrap.table-flex
            table
              tr
                td Организация
                td.c-red №89 Средняя общеобразовательная школа
              tr
                td Требования
                td.c-red Требуется препадователь по математике с опытом
          strong Подтвердите ваше действие нажатием кнопки
        .candidat-card__btn
          a(href="#!").btn.btn-default Подтвердить выбор

    #candidat-popup.zoom-anim-dialog.mfp-hide.candidat-popup
      .candidat-popup__name
        h3.h3 САУЛЕМБЕКОВ ЕРЖАН АЛТАЕВИЧ
      .table-wrap.table-flex
        table
          tr
            td Резюме
            td Преподаватель
          tr
            td Результат предметного тестирования
            td 
              span.c-orange 4 из 25 (16%)
              a(href="#!").link Посмотреть результаты
          tr
            td Дата подачи заявления 
            td 01/14/2018 11:48:00
          tr
            td Удостоверение личности
            td 2017-11-16_19-58-20
          tr
            td Диплом
            td 2017-11-16_19-58-20
          tr
            td Медицинская справка
            td 2017-11-16_19-58-20
          tr
            td Трудовая книжка
            td 2017-11-16_19-58-20
          tr
            td Справка о несудимости 
            td 2017-11-16_19-58-20
          tr
            td Сертификаты о прохождении курсов
            td 2017-11-16_19-58-20
          tr
            td Результат онлайн тестирования
            td: span.c-orange Не соответствует ожиданиям организации.
          tfoot
            td Ваша оценка
            td
              .input-checkbox
                label
                  input(type="checkbox")
                  small
                  span Не явился на конкурсную комиссию
              .input-checkbox
                label
                  input(type="checkbox")
                  small
                  span 1-Категорически не рекомендуется
              .input-checkbox
                label
                  input(type="checkbox")
                  small
                  span 2-Не рекомендуется
              .input-checkbox
                label
                  input(type="checkbox")
                  small
                  span 3-Нейтрально
              .input-checkbox
                label
                  input(type="checkbox")
                  small
                  span 4-Рекомендуется
              .input-checkbox
                label
                  input(type="checkbox")
                  small
                  span 5-Очень рекомендуется

      .button-wrap
        a(href="#!").btn.btn-default.btn--close Закрыть
        a(href="#!").btn.btn-default.btn--arr Сохранить