extends ../template/template

- pageClass = 'page-cabinet';

block header
  include ../particles/header.jade

block content
  .cabinet
    .experience.block.js-anim
      .wrapper
        .block-inner
          h2.h2 Опыт работы кандидата
          .shadow-title Опыт работы
          .table-wrap.table-flex
            table
              tr
                td.w50 Тип стажа
                td.c-red
                  select.js-select
                    option yerzhan.saulembekov@gmail.com
                    option Вариант 1
                    option Вариант 2
              tr
                td.w50 Организация
                td.c-red
                  .input-wrap 
                    input(type="text" value="ТОО IT invest Group").input.input-default
              tr
                td.w50 Регион
                td.c-red
                  .input-wrap 
                    input(type="text" value="г.Астана").input.input-default
              tr
                td.w50 Должность
                td.c-red
                  .input-wrap
                    input(type="text" value="Руководитель проекта").input.input-default
              tr
                td.w50 Период: начало
                td.c-red
                  .input-wrap.input-calendar
                    input(type="text").datepicker-here.input.input-default
              tr
                td.w50 Период: конец
                td.c-red
                  .fxbox.fxbox--ai-c
                    .input-wrap.input-calendar
                      input(type="text").datepicker-here.input.input-default
                    .input-checkbox
                      label
                        input(type="checkbox")
                        small
                        span По настоящее время
            hr

            table
              tr
                td.w50 Тип стажа
                td.c-red                
                  select.js-select
                    option Педагогический
                    option Вариант 1
                    option Вариант 2
              tr
                td.w50 Категория
                td.c-red
                  .input-wrap 
                    input(type="text" value="Нет категорий").input.input-default
              tr
                td.w50 Организация
                td.c-red
                  .input-wrap 
                    input(type="text" value="ТОО IT invest Group").input.input-default
              tr
                td.w50 Регион
                td.c-red
                  .input-wrap 
                    input(type="text" value="г.Астана").input.input-default
              tr
                td.w50 Должность
                td.c-red
                  .input-wrap
                    input(type="text" value="Руководитель проекта").input.input-default
              tr
                td.w50 Период: начало
                td.c-red
                  .input-wrap.input-calendar
                    input(type="text").datepicker-here.input.input-default
              tr
                td.w50 Период: конец
                td.c-red
                  .fxbox.fxbox--ai-c
                    .input-wrap.input-calendar
                      input(type="text").datepicker-here.input.input-default
                    .input-checkbox
                      label
                        input(type="checkbox")
                        small
                        span По настоящее время  

          .button-wrap
            a(href="#!").btn.btn-default.btn--add Добавить место
            a(href="#!").btn.btn-default.btn--arr Сохранить