extends ../template/template

- var pageClass = 'page-index'

block header
  include ../particles/header.jade

block content
  .promo
    #particles-js
    .wrapper
      .promo-inner
        h1 Cотни педагогов <br/> ищут работу у нас
        form(action="#!" method="").form
          .form-logo
            span T-Hunter
          .input-wrap
            input.input(type="text" placeholder="Начните поиск и вы")
          button.btn.btn--light
            i.fas.fa-search.icon
            span Найти
        .promo-adv
          .promo-adv__item
            img(src="../../images/icons/advantage-icon-1.png", alt="").promo-adv__icon
            .promo-adv__content          
              span.count 149
              small вакансий
          .promo-adv__item
            img(src="../../images/icons/advantage-icon-2.png", alt="").promo-adv__icon
            .promo-adv__content          
              span.count 2126
              small заявлений
          .promo-adv__item
            img(src="../../images/icons/advantage-icon-3.png", alt="").promo-adv__icon
            .promo-adv__content          
              span.count 884
              small конкурсных комиссий
          .promo-adv__item
            img(src="../../images/icons/advantage-icon-4.png", alt="").promo-adv__icon
            .promo-adv__content          
              span.count 2862
              small пользователей
          .promo-adv__item
            img(src="../../images/icons/advantage-icon-5.png", alt="").promo-adv__icon
            .promo-adv__content          
              span.count 203
              small организаций
          .promo-adv__item
            img(src="../../images/icons/advantage-icon-6.png", alt="").promo-adv__icon
            .promo-adv__content          
              span.count 570
              small прошедшие комисию

  .vacancy.block.js-anim
    .wrapper
      .vacancy-inner.block-inner
        h2.h2 Вакансии
        .shadow-title Вакансии
        .fxbox.fxbox--wrap.fxbox--jc-sb
          .fxbox-item.w30
            h3.h3.h3--blue.block-title
              img(src="../../images/icons/top.png", alt="").block-title__icon
              | ТОП 5 школ
            .block-list
              .h4.h4--blue Наименования
              table.table
                tr
                  td 1
                  td Школа № 1
                  td 
                    span.c-red 32
                tr
                  td 2
                  td Школа № 2
                  td 
                    span.c-red 32
                tr
                  td 3
                  td Школа № 3
                  td 
                    span.c-red 32
                tr
                  td 4
                  td Школа № 4
                  td 
                    span.c-red 32
                tr
                  td 5
                  td Школа № 5
                  td 
                    span.c-red 32
            a(href="#!").btn.btn-default.btn--arr 
              span посмотреть все
          .fxbox-item.w30
            h3.h3.h3--blue.block-title
              img(src="../../images/icons/vacancy.png", alt="").block-title__icon
              | Открытые вакансии            
            .block-list
              .block-list__item
                .h4.h4--blue Начальное образование
                p №19 Средняя общеобразовательная школа имени О.Жанибекова
                p.date 10/11/2017 15:47
              .block-list__item
                .h4.h4--blue Вожатый
                p №107 Средняя общеобразовательная школа имени Ю.Сареми 
                p.date 10/11/2017 15:47
              .block-list__item
                .h4.h4--blue Английский язык
                p №40 школа гимназия имени Алпамыс Батыра
                p.date 10/11/2017 15:47
            a(href="#!").btn.btn-default.btn--arr 
              span посмотреть все

          .fxbox-item.w30
            h3.h3.h3--blue.block-title
              img(src="../../images/icons/star.png", alt="").block-title__icon
              |Популярные вакансии
            .block-list
              .h4.h4--blue Наименования
              table.table
                  tr
                    td Биология
                    td 
                      img(src="../../images/icons/news.png", alt="")
                  tr
                    td Математика
                    td 
                      img(src="../../images/icons/news.png", alt="")
                  tr
                    td Казахский язык
                    td 
                      img(src="../../images/icons/news.png", alt="")
                  tr
                    td Математика
                    td 
                      img(src="../../images/icons/news.png", alt="")
                  tr
                    td Математика
                    td 
                      img(src="../../images/icons/news.png", alt="")
            a(href="#!").btn.btn-default.btn--arr 
                span посмотреть все


  .result.block.js-anim
    .wrapper
      .result-inner.block-inner
        h2.h2 Результаты комиссии
        .shadow-title Комиссии
        .fxbox.fxbox--wrap.fxbox--jc-sb
          .fxbox-item.w30
            h3.h3.h3--blue.block-title
              img(src="../../images/icons/calendar.png", alt="").block-title__icon
              | Даты заседания комиссий
            .block-list
              .block-list__item
                .h4.h4--blue 15 марта 2018 года
                p г.Шымкент, ул.Рескулова 8а, фронт офис
                p.date 10/11/2017 15:47
              .block-list__item
                .h4.h4--blue 15 марта 2018 года
                p г.Шымкент, ул.Рескулова 8а, фронт офис
                p.date 10/11/2017 15:47
              .block-list__item
                .h4.h4--blue 15 марта 2018 года
                p г.Шымкент, ул.Рескулова 8а, фронт офис
                p.date 10/11/2017 15:47

          .fxbox-item.w30
            h3.h3.h3--blue.block-title
              img(src="../../images/icons/paper.png", alt="").block-title__icon
              | Результаты конкурсной комиссии
            .block-list
              .block-list__item
                .h4.h4--blue Ашур Айгул Искандаркызы
                p №19 Средняя общеобразовательная школа имени О.Жанибекова
                p.date 10/11/2017 15:47
              .block-list__item
                .h4.h4--blue Ашур Айгул Искандаркызы
                p №107 Средняя общеобразовательная школа имени Ю.Сареми 
                p.date 10/11/2017 15:47
              .block-list__item
                .h4.h4--blue Ашур Айгул Искандаркызы
                p №40 школа гимназия имени Алпамыс Батыра
                p.date 10/11/2017 15:47
            a(href="#!").btn.btn-default.btn--arr 
              span посмотреть все

          .fxbox-item.w30
            h3.h3.h3--blue.block-title
              img(src="../../images/icons/foto.png", alt="").block-title__icon
              |Онлайн трансляция
            a(href="#!").online-trans
              img(src="../../images/icons/online.png", alt="")


  .news.block.js-anim
    .wrapper
      .news-inner.block-inner
        h2.h2 Новости
        .shadow-title Новости
        .fxbox.fxbox--wrap.fxbox--jc-sb
          .fxbox-item.w33
            .news-card
              .news-card__top
                a(href="#!").link.comment 
                  i.fas.fa-comment-alt.icon
                  span 22
                a(href="#!").link.view 
                  i.fas.fa-eye.icon
                  span 22
                a(href="#!").link
                  i.fas.fa-sign-in-alt.icon
              .news-card__title ЕНТ для поступления в вузы не отменяется - МОН РК
              p Пресс-служба Министерства образования и науки РК опубликовала разъяснения по некоторым вопросам, которые были неверно интерпретированы
              .news-card__btn
                a(href="#!").btn.btn-default.btn--arr Читать далее

          .fxbox-item.w33
            .news-card
              .news-card__top
                a(href="#!").link.comment 
                  i.fas.fa-comment-alt.icon
                  span 22
                a(href="#!").link.view 
                  i.fas.fa-eye.icon
                  span 22
                a(href="#!").link
                  i.fas.fa-sign-in-alt.icon
              .news-card__title ЕНТ для поступления в вузы не отменяется - МОН РК
              p Пресс-служба Министерства образования и науки РК опубликовала разъяснения по некоторым вопросам, которые были неверно интерпретированы
              .news-card__btn
                a(href="#!").btn.btn-default.btn--arr Читать далее
          .fxbox-item.w33.achievements
            h3.h3.h3--blue.block-title
              img(src="../../images/icons/cup.png", alt="").block-title__icon
              | Достижения
            a(href="#!").link.achievements-cert
              img(src="../../images/cert.jpg", alt="")
        a(href="#!").btn.btn-default.btn--arr посмотреть все