extends ../template/template

- var pageClass = 'page-news'

block header
  include ../particles/header.jade

block content
  .news.block.js-anim
    .wrapper
      .block-inner
        h2.h2 Все новости
        .shadow-title Все новости

      .news-flex
        .news-list
          .news-item
            .news-item__img
              img(src="../../images/news-img-1.jpg", alt="")
            .news-item__content
              .news-item__top
                a(href="#!").link.comment 
                  i.fas.fa-comment-alt.icon
                  span 22
                a(href="#!").link.view 
                  i.fas.fa-eye.icon
                  span 22
                a(href="#!").link
                  i.fas.fa-sign-in-alt.icon
              a(href="#!").news-item__title ЕНТ для поступления в вузы не отменяется - МОН РК
              .news-item__text
                p Пресс-служба Министерства образования и науки РК опубликовала разъяснения по некоторым вопросам, которые были неверно интерпретированы
              a(href="#!").btn.btn-default Читать далее

          .news-item
            .news-item__img
              img(src="../../images/news-img-2.jpg", alt="")
            .news-item__content
              .news-item__top
                a(href="#!").link.comment 
                  i.fas.fa-comment-alt.icon
                  span 22
                a(href="#!").link.view 
                  i.fas.fa-eye.icon
                  span 22
                a(href="#!").link
                  i.fas.fa-sign-in-alt.icon
              a(href="#!").news-item__title Два миллиарда вместо 10 лет. Канату Султанбекову изменили приговор
              .news-item__text
                p Судебная коллегия по уголовным делам Военного суда республики рассмотрела на открытом судебном заседании уголовное дело в отношении экс-зампреда "Казахстан инжиниринг" Каната Султанбекова и других фигурантов
              a(href="#!").btn.btn-default Читать далее 

          .news-item
            .news-item__img
              img(src="../../images/news-img-3.jpg", alt="")
            .news-item__content
              .news-item__top
                a(href="#!").link.comment 
                  i.fas.fa-comment-alt.icon
                  span 22
                a(href="#!").link.view 
                  i.fas.fa-eye.icon
                  span 22
                a(href="#!").link
                  i.fas.fa-sign-in-alt.icon
              a(href="#!").news-item__title Избраны ректоры двух государственных вузов – ВКГУ и СКГУ
              .news-item__text
                p Пресс-служба Министерства образования и науки РК опубликовала разъяснения по некоторым вопросам, которые были неверно интерпретированы
              a(href="#!").btn.btn-default Читать далее 

          .news-item
            .news-item__img
              img(src="../../images/news-img-3.jpg", alt="")
            .news-item__content
              .news-item__top
                a(href="#!").link.comment 
                  i.fas.fa-comment-alt.icon
                  span 22
                a(href="#!").link.view 
                  i.fas.fa-eye.icon
                  span 22
                a(href="#!").link
                  i.fas.fa-sign-in-alt.icon
              a(href="#!").news-item__title Избраны ректоры двух государственных вузов – ВКГУ и СКГУ
              .news-item__text
                p Пресс-служба Министерства образования и науки РК опубликовала разъяснения по некоторым вопросам, которые были неверно интерпретированы
              a(href="#!").btn.btn-default Читать далее

        .news-sidebar
          .tabs
            .tab-nav
              a(href="#tab1").tab-link.link.active Популярное
              a(href="#tab2").tab-link.link Недавнее
            .tab-content
              #tab1.tab-item.active
                .tab-news
                  p В Генпрокуратуре прокомментировали освобождение от должности прокурора Алматы 85093 83
                  .tab-news__date 03 февраля, 10:58
                .tab-news
                  p Илья Варламов о плохих и хороших городах, деньгах и критике. TheЭфир
                  .tab-news__date 03 февраля, 10:58
                .tab-news
                  p В Генпрокуратуре прокомментировали освобождение от должности прокурора Алматы 85093 83
                  .tab-news__date 03 февраля, 10:58

                .tab-news
                  p В Генпрокуратуре прокомментировали освобождение от должности прокурора Алматы 85093 83
                  .tab-news__date 03 февраля, 10:58
                .tab-news
                  p Илья Варламов о плохих и хороших городах, деньгах и критике. TheЭфир
                  .tab-news__date 03 февраля, 10:58
                .tab-news
                  p В Генпрокуратуре прокомментировали освобождение от должности прокурора Алматы 85093 83
                  .tab-news__date 03 февраля, 10:58
              #tab2.tab-item
                .tab-news
                  p Илья Варламов о плохих и хороших городах, деньгах и критике. TheЭфир
                  .tab-news__date 03 февраля, 10:58
                .tab-news
                  p В Генпрокуратуре прокомментировали освобождение от должности прокурора Алматы 85093 83
                  .tab-news__date 03 февраля, 10:58
                .tab-news
                  p В Генпрокуратуре прокомментировали освобождение от должности прокурора Алматы 85093 83
                  .tab-news__date 03 февраля, 10:58

          .news-tag-wrap
            h4.h4 Теги
            a(href="#!").news-tag Новости
            a(href="#!").news-tag Интеграция
            a(href="#!").news-tag t-hunter
            a(href="#!").news-tag Высшее образование
            a(href="#!").news-tag Информационные системы
            a(href="#!").news-tag вузы

          img(src="../../images/sidebar-banner.jpg", alt="")
            