extends ../template/template

- pageClass = 'page-cabinet'

block header
  include ../particles/header.jade

block content
  .cabinet
    .notice.block.js-anim
      .wrapper
        .block-inner
          h2.h2 Мои уведомления
          .shadow-title Мои уведомления
          .table-wrap
            table.table-orange.fz20
              thead
                tr
                  td Дата и время уведомления
                  td Описание уведомления
              tbody.c-red
                tr
                  td 31.12.2017 02:13:00
                  td Об одноразовом пароле для входа в модуль тестирования
                tr
                  td 31.12.2017 02:13:00
                  td Подходящие вакансии
                tr
                  td 31.12.2017 02:13:00
                  td Об одноразовом пароле для входа в модуль тестирования
                tr
                  td 31.12.2017 02:13:00
                  td Подходящие вакансии
                tr
                  td 31.12.2017 02:13:00
                  td Об одноразовом пароле для входа в модуль тестирования
                tr
                  td 31.12.2017 02:13:00
                  td Подходящие вакансии

          .pagination
            a(href="#!").link.pagination-link.active 1
            a(href="#!").link.pagination-link 2
            a(href="#!").link.pagination-link 3
            a(href="#!").link.pagination-link 4
            a(href="#!").link.pagination-link 5
            a(href="#!").link.pagination-link 6