extends ../template/template

- var pageClass = 'page-passport'

block header
  include ../particles/header.jade

block content
  .passport.block.js-anim
    .wrapper
      .block-inner
        h2.h2 Паспорт
        .shadow-title Паспорт

      .passport-flex
        .passport-img
          img(src="../../images/passport-img-1.png", alt="")
          include ../particles/rate
        .passport-info
          .passport-info__block
            .passport-info__item
              i.iconic.iconic--user
              span ФИО первого руководителя: Иванов Иван Иванович
            .passport-info__item
              i.iconic.iconic--arch
              span Описание организации: Школа основана в 1998 году в Шымкенте
            .passport-info__item
              i.iconic.iconic--doc
              span Номер и дата лицензии: 0658006АБ, от 24.02.2012
          .passport-info__block
            .passport-info__item
              i.iconic.iconic--map-2
              span Юридический адрес: г.Шымкент, ул Тауке хана 8
            .passport-info__item
              i.iconic.iconic--phone
              span Контактные телефоны: +7 7152 11 22 33
            .passport-info__item
              i.iconic.iconic--mail
              span Адрес электронной почты: info@mail.ru
            .passport-info__item
              i.iconic.iconic--www
              span Официальный интернет ресурс: не имеется

      .passport-adv
        .passport-adv__item
          img(src="../../images/icons/passport-icon-1.png", alt="")
          p Общее количество опубликованных вакансии: <span>200</span> вакансии
        .passport-adv__item
          img(src="../../images/icons/passport-icon-2.png", alt="")
          p Количество открытых вакансии: <span>200</span> вакансии
        .passport-adv__item
          img(src="../../images/icons/passport-icon-3.png", alt="")
          p Количество победителей конкурсных комиссии: <span>180</span> человек
        .passport-adv__item
          img(src="../../images/icons/passport-icon-4.png", alt="")
          p Количество трудоустроенных посредством Системы <span>80</span> человек

    .wrapper--small
      h4.h4.c-blue.tac Топ 5 востребованных вакансии
      .table-wrap
        table.table-orange.table-width-auto.fz20
          tr
            td №
            td Наименование вакансии
            td Количество
          tr
            td 1
            td Русский язык
            td 20
          tr
            td 2
            td Алгебра
            td 15
          tr
            td 3
            td Математика
            td 12
          tr
            td 4
            td Информатика
            td 9
          tr
            td 5
            td Казахский язык
            td 8

      .passport-review
        h4.h4.c-blue Оставить отзыв
        form
          include ../particles/rate
          .input-wrap
            textarea(placeholder="Введите текст")
          .button-wrap
            button.btn.btn-default.btn--arr Отправить

      .tabs
        .tab-nav
          a(href="#tab1").tab-link.link.active Отзывы
          a(href="#tab2").tab-link.link Местоположение
        .tab-content
          #tab1.tab-item.active
            .reviews
              .review-block
                .review-user Пулатова Ажар Хилишбековна
                p Все круто!!!
                include ../particles/rate
              
          #tab2.tab-item
            p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nam, itaque culpa. Beatae voluptate quibusdam laborum fugit earum magni quos nihil excepturi! Odit, voluptatum nisi labore quas delectus hic odio eligendi laboriosam repellendus iusto. Culpa dolorem nihil asperiores veritatis nobis exercitationem saepe numquam adipisci ratione repellat, atque ad soluta, rem aperiam?

      
          