extends ../template/template

- pageClass = 'page-cabinet'

block header
  include ../particles/header.jade

block content
  .cabinet
    .position.block.js-anim
      .wrapper
        .block-inner
          h2.h2 Желаемая должность кандидата
          .shadow-title Желаемая должность
          .table-wrap.table-flex
            table
              tr
                td.w50 Желаемая должность
                td
                  select.js-select
                    option Преподаватель
                    option Вариант 1
                    option Вариант 2
              tr
                td.w50 Выбор предмета
                td
                  select.js-select
                    option Математика
                    option Вариант 1
                    option Вариант 2
              tr
                td(colspan="2")
                  .tag-wrap
                    .tag Математика
                    .tag Алгебра
                    .tag Геометрия
              tr
                td.w50 Тип занятости
                td
                  select.js-select
                    option Постоянный
                    option Вариант 1
                    option Вариант 2

          .button-wrap
            a(href="#!").btn.btn-default.btn--arr Сохранить