extends ../template/template

- pageClass = 'page-cabinet'

block header
  include ../particles/header.jade

block content
  .cabinet
    .profile.block.js-anim
      .wrapper
        .block-inner
          h2.h2 Профиль пользователя
          .shadow-title Профиль
          .table-wrap.table-flex
            table
              tr
                td Электронная почта
                td.c-red yerzhan.saulembekov@gmail.com
              tr
                td ИИН
                td.c-red 890914350326
              tr
                td Фамилия
                td.c-red Cаулембеков
              tr
                td Имя
                td.c-red Ержан
              tr
                td Отчество
                td.c-red Алтаевич
              tr
                td Телефон
                td.c-red 87015364054
              tr
                td Адрес
                td.c-red г.Алматы ул.Тлендиева 256 кв.35

          .button-wrap
            a(href="#!").btn.btn-default.btn--arr Редактировать