extends ../template/template

- pageClass = 'page-cabinet'

block header
  include ../particles/header.jade

block content
  .cabinet
    .profile.block.js-anim
      .wrapper
        .block-inner
          h2.h2 Редактирование профиля
          .shadow-title Редактирование
          .table-wrap.table-flex
            table
              tr
                td Электронная почта
                td.c-red 
                  input(type="text" value="yerzhan.saulembekov@gmail.com").input.input-default 
              tr
                td ИИН
                td.c-red 
                  input(type="text" value="890914350326").js-number.input.input-default 
              tr
                td Фамилия
                td.c-red 
                  input(type="text" value="Cаулембеков").js-letter.input.input-default
              tr
                td Имя
                td.c-red 
                  input(type="text" value="Ержан").js-letter.input.input-default 
              tr
                td Отчество
                td.c-red 
                  input(type="text" value="Алтаевич").js-letter.input.input-default 
              tr
                td Телефон
                td.c-red 
                  input(type="text" value="7015364054").js-phone.input.input-default
              tr
                td Адрес
                td.c-red 
                  input(type="text" value="г.Алматы ул.Тлендиева 256 кв.35").input.input-default 

          .button-wrap
            a(href="#!").btn.btn-default.btn--arr Сохранить