extends ../template/template

- pageClass = 'page-cabinet'

block header
  include ../particles/header.jade

block content
  .cabinet
    .resume.block.js-anim
      .wrapper
        .block-inner
          h2.h2 Редактировать резюме
          .shadow-title Редактировать

        .resume-edit
          .resume-edit__block
            .resume-edit__title.require
              i.fas.fa-exclamation-circle.icon
              span Общие сведения о кандидате
            .resume-avatar
              img(src="../../images/resume-img.png", alt="")

            .fxbox.fxbox--wrap
              .resume-edit__elem.w50
                span ИИН
                div.c-red
                  p 890914350326
              .resume-edit__elem.w50
                span Место проживания
                div.c-red
                  p Южно-Казахстанская область, Шымкент Г.А.
              .resume-edit__elem.w50
                span ФИО
                div.c-red
                  p Cаулембеков Ержан Алтаевич
              .resume-edit__elem.w50
                span Адрес проживания
                div.c-red
                  p Шымкент ул.Тауке-хана 8-33
              .resume-edit__elem.w50
                span Дата рождения
                div.c-red
                  p 14.09.1989
            .button-wrap
              a(href="#!").btn.btn-default.btn--arr Редактировать

          .resume-edit__block
            .resume-edit__title.require
              i.fas.fa-id-card.icon
              span Контактные данные кандидата
            .fxbox.fxbox--wrap
              .resume-edit__elem.w50
                span Мобильный телефон
                div.c-red
                  p 77015364054
              .resume-edit__elem.w50
                span Электронная почта
                div.c-red
                  p yerzhan.saulembekov@gmail.com
              .resume-edit__elem.w50
                span Домашний телефон
                div.c-red
                  p 77015364054
            .button-wrap
              a(href="#!").btn.btn-default.btn--arr Редактировать

          .resume-edit__block
            .resume-edit__title.require
              i.far.fa-star.icon
              span Желаемая должность кандидата
            .fxbox.fxbox--wrap
              .resume-edit__elem.w50
                span Желаемая должность
                div.c-red
                  p Преподаватель
              .resume-edit__elem.w50
                span Тип занятости
                div.c-red
                  p Постоянный
              .resume-edit__elem.w50
                span Выбор предмета    
                .tag-wrap
                  .tag Математика
                  .tag Алгебра
                  .tag Геометрия
            .button-wrap
              a(href="#!").btn.btn-default.btn--arr Редактировать

          .resume-edit__block
            .resume-edit__title
              i.far.fa-star.icon
              span Опыт работы кандидата
            .fxbox.fxbox--wrap
              .resume-edit__elem.w50
                span Общий стаж
                div.c-red
                  p 10 лет 9 месяцев
              .resume-edit__elem.w50
                span Педагогический стаж
                div.c-red
                  p 0 лет 0 месяцев
              .resume-edit__elem.resume-edit__elem--border.w100
                span Организации
                div.c-red
                  p 01.06.2007 - По настоящее время
                  p ТОО IT Invest Group - Руководитель проекта г. Астана
                  p Руководство проектом

            .button-wrap
              a(href="#!").btn.btn-default.btn--arr Редактировать

          .resume-edit__block
            .resume-edit__title.require
              i.far.fa-star.icon
              span Образование
            .resume-edit__elem.resume-edit__elem--border
              span Учебные заведения
              div.fxbox.fxbox--ai-c.c-red
                span.w20 2013
                div
                  p Шымкент педагогика дене тәрбие институты - Бакалавр информационных систем Высшее, 
                  p Бакалавр Информационные системы, Бакалавр информационных систем

            .button-wrap
              a(href="#!").btn.btn-default.btn--arr Редактировать

          .resume-edit__block
            .resume-edit__title.require
              i.far.fa-star.icon
              span Ключевые навыки
            .fxbox.fxbox--wrap
              .resume-edit__elem.w50
                span Знание языков
                .tag-wrap
                  .tag русский
              .resume-edit__elem.w50
                span Навыки
                div.c-red
                  p Коммуникабельность, быстро обучаемость
              .resume-edit__elem.w50
                span Язык обучения
                .tag-wrap
                  .tag русский

            .button-wrap
              a(href="#!").btn.btn-default.btn--arr Редактировать

          .resume-edit__block
            .resume-edit__title.require
              i.far.fa-star.icon
              span Дополнительная информация
            .resume-edit__elem
              span Обо мне
              div.c-red
                p Умение работать в коллективе