extends ../template/template

- pageClass = 'page-cabinet'

block header
  include ../particles/header.jade

block content
  .cabinet
    .block.js-anim
      .wrapper
        .block-inner
          h2.h2 Мои резюме
          .shadow-title Мои резюме

        .resume-list
          .resume-item
            .resume-status Активный
            .resume-logo
              i.fas.fa-file-alt
            a(href="#!").link.h3.resume-item__title Преподаватель
            .resume-date
              span создано 12.01.2018
            .resume-control
              a(href="#!").link
                i.fas.fa-trash-alt
              a(href="#!").link
                i.fas.fa-eye-slash
              a(href="#!").link
                i.fas.fa-trash-alt

          .resume-item
            .resume-status Активный
            .resume-logo
              i.fas.fa-file-alt
            a(href="#!").link.h3.resume-item__title Преподаватель
            .resume-date
              span создано 12.01.2018
            .resume-control
              a(href="#!").link
                i.fas.fa-trash-alt
              a(href="#!").link
                i.fas.fa-eye-slash
              a(href="#!").link
                i.fas.fa-trash-alt

          .resume-item.resume-create
            .resume-logo
              i.fas.fa-plus
            a(href="#!").link.h3.resume-item__title Создать резюме