extends ../template/template

- pageClass = 'page-cabinet'

block header
  include ../particles/header.jade

block content
  .cabinet
    .statement.block.js-anim
      .wrapper
        .block-inner
          h2.h2 Мои заявления
          .shadow-title Мои заявления
          .table-wrap
            table.table-orange.table-width-auto.fz20
              thead
                tr
                  td Код
                  td Наименование вакансии
                  td Наименование организации
                  td Дата и время
                  td Статус
                  td
              tbody.c-red
                tr
                  td.c-blue KZ18012177
                  td Воспитатель
                  td №89 «Шамшыра»
                  td 14/01/2018 17:29
                  td Отправлено
                  td
                tr
                  td.c-blue KZ18012177
                  td Воспитатель
                  td №89 «Шамшыра»
                  td 14/01/2018 17:29
                  td Отправлено
                  td 
                tr
                  td.c-blue KZ18012177
                  td Воспитатель
                  td №89 «Шамшыра»
                  td 14/01/2018 17:29
                  td Отправлено
                  td 
                tr
                  td.c-blue KZ18012177
                  td Воспитатель
                  td №89 «Шамшыра»
                  td 14/01/2018 17:29
                  td Отправлено
                  td 
                tr
                  td.c-blue KZ18012177
                  td Воспитатель
                  td №89 «Шамшыра»
                  td 14/01/2018 17:29
                  td Отправлено
                  td 
                    a(href="#!").link.c-blue Ссылка на тест
            