extends ../template/template

block header
  include ../particles/header.jade

block content
  .table-data-page.block.js-anim
    .wrapper
      .block-inner
        h2.h2 Открытые вакансии 
        .shadow-title Открытые вакансии

        form(action="#!").fxbox.fxbox--wrap
          select.js-select
            option Номер конкурсной комиссии
            option Номер конкурсной комиссии
            option Номер конкурсной комиссии
            option Номер конкурсной комиссии
          .input-wrap.input-search
            input.input(type="text")
            button
              i.fas.fa-search.icon
        .tabs
          .tab-nav
            a(href="#tab1").tab-link.link.active по школам
            a(href="#tab2").tab-link.link по предметам
          .tab-content
            #tab1.tab-item.active
              .table-wrap
                table.table-orange
                  thead
                    tr
                      td #
                      td Наименование организации
                      td Количество вакансий
                  tbody
                    tr
                      td 1
                      td №52 Средняя общеобразовательная школа имени М.Отемисулы
                      td 1
                    tr
                      td 2
                      td №52 Средняя общеобразовательная школа имени М.Отемисулы
                      td 1

                    tr
                      td 3
                      td №52 Средняя общеобразовательная школа имени М.Отемисулы
                      td 1

                    tr
                      td 4
                      td №52 Средняя общеобразовательная школа имени М.Отемисулы
                      td 1

                    tr
                      td 5
                      td №52 Средняя общеобразовательная школа имени М.Отемисулы
                      td 1

                    tr
                      td 6
                      td №52 Средняя общеобразовательная школа имени М.Отемисулы
                      td 1

                    tr
                      td 7
                      td №52 Средняя общеобразовательная школа имени М.Отемисулы
                      td 1

            #tab2.tab-item
              .table-wrap
                table.table-orange
                  thead
                    tr
                      td #
                      td Наименование вакансии
                      td Наименование организации
                      td Дата публикации вакансии
                      td Количество поданных заявлений
                      td Дата окончания приема заявлений
                  tbody
                    tr
                      td 1
                      td.c-blue Биология
                      td.c-blue №52 Средняя общеобразовательная  школа имени М.Отемисулы
                      td 03/15/2018
                      td 1
                      td 26/03/2018 09:00

                    tr
                      td 2
                      td.c-blue Биология
                      td.c-blue №52 Средняя общеобразовательная  школа имени М.Отемисулы
                      td 03/15/2018
                      td 1
                      td 26/03/2018 09:00

                    tr
                      td 3
                      td.c-blue Биология
                      td.c-blue №52 Средняя общеобразовательная  школа имени М.Отемисулы
                      td 03/15/2018
                      td 1
                      td 26/03/2018 09:00

                    tr
                      td 4
                      td.c-blue Биология
                      td.c-blue №52 Средняя общеобразовательная  школа имени М.Отемисулы
                      td 03/15/2018
                      td 1
                      td 26/03/2018 09:00
                    tr
                      td 5
                      td.c-blue Биология
                      td.c-blue №52 Средняя общеобразовательная  школа имени М.Отемисулы
                      td 03/15/2018
                      td 1
                      td 26/03/2018 09:00
                    tr
                      td 6
                      td.c-blue Биология
                      td.c-blue №52 Средняя общеобразовательная  школа имени М.Отемисулы
                      td 03/15/2018
                      td 1
                      td 26/03/2018 09:00
                    tr
                      td 7
                      td.c-blue Биология
                      td.c-blue №52 Средняя общеобразовательная  школа имени М.Отемисулы
                      td 03/15/2018
                      td 1
                      td 26/03/2018 09:00