-var dir = "../..";
doctype
html
  head
    meta(charset = 'utf-8')
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
    link(href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet")
    link(href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet")
    link(rel="stylesheet" href="#{dir}/css/vendor.min.css")
    link(rel="stylesheet" href="#{dir}/css/common.min.css")
    title tHunter
  body
    .page.page-vote

      // main
      main.main
        .vote
          #particles-js
          .vote-inner
            .vote-content
              img(src="../../images/icons/logo.png", alt="").vote-logo
              .vote-title ЭЛЕКТРОННОЕ <br/> ГОЛОСОВАНИЕ
              form(action="#!")
                .input-wrap
                  input.input(type="text" placeholder="Код")
                button.btn.btn-default.btn--arr Войти
          

      // footer
      footer.footer
        .wrapper
          .footer-inner
            .footer-logo
              img(src="../../images/icons/logo-footer.png", alt="")
            .footer-social
              span © 2017 «T-Hunter» - Работа для педагогов
              .fxbox
                a(href="#!").link
                i.fab.fa-facebook.icon
                i.fab.fa-vk.icon
                i.fab.fa-instagram.icon
            .footer-partner
              img(src="../../images/icons/logo-partner.png", alt="")
              span При поддержке

    // vendor js
    script(src='#{dir}/scripts/libs.js')
    // common.js
    script(src='#{dir}/scripts/common.min.js')