@import iconfont


@font-face
	font-family: 'gilroy'
	src: url('../fonts/gilroy.otf')
	font-weight: normal
	font-style: normal

@font-face
	font-family: 'aileron'
	src: url('../fonts/aileron.heavy.otf')
	font-weight: normal
	font-style: normal