@charset "UTF-8";
@font-face {
    font-family: "iconic";
    src: url('../fonts/iconic.eot');
    src: url('../fonts/iconic.eot?#iefix') format('eot'),
    url('../fonts/iconic.woff') format('woff'),
    url('../fonts/iconic.ttf') format('truetype'),
    url('../fonts/iconic.svg#iconic') format('svg');
}

@mixin iconic-styles {
    font-family: "iconic";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    // speak: none; // only necessary if not using the private unicode range (firstGlyph option)
    text-decoration: none;
    text-transform: none;
    color: inherit;
    line-height: normal;
    vertical-align: middle;
}

.iconic {
    @include iconic-styles;
}

@function iconic-char($filename) {
    $char: "";
    
    @if $filename == arch {
        $char: "\E001";
    }
    @if $filename == arrow-down {
        $char: "\E002";
    }
    @if $filename == arrow-left {
        $char: "\E003";
    }
    @if $filename == arrow-right {
        $char: "\E004";
    }
    @if $filename == arrow-up {
        $char: "\E005";
    }
    @if $filename == diary {
        $char: "\E006";
    }
    @if $filename == doc {
        $char: "\E007";
    }
    @if $filename == facebook {
        $char: "\E008";
    }
    @if $filename == glasses {
        $char: "\E009";
    }
    @if $filename == insta {
        $char: "\E00A";
    }
    @if $filename == list {
        $char: "\E00B";
    }
    @if $filename == mail {
        $char: "\E00C";
    }
    @if $filename == map-2 {
        $char: "\E00D";
    }
    @if $filename == map {
        $char: "\E00E";
    }
    @if $filename == open-book {
        $char: "\E00F";
    }
    @if $filename == phone {
        $char: "\E010";
    }
    @if $filename == plus {
        $char: "\E011";
    }
    @if $filename == settings {
        $char: "\E012";
    }
    @if $filename == star-2 {
        $char: "\E013";
    }
    @if $filename == star {
        $char: "\E014";
    }
    @if $filename == user {
        $char: "\E015";
    }
    @if $filename == vk {
        $char: "\E016";
    }
    @if $filename == www {
        $char: "\E017";
    }

    @return $char;
}

@mixin iconic($filename, $insert: after, $extend: true) {
    &:#{$insert} {
        content: iconic-char($filename);
    }
}

.iconic--arch {
    @include iconic(arch);
}
.iconic--arrow-down {
    @include iconic(arrow-down);
}
.iconic--arrow-left {
    @include iconic(arrow-left);
}
.iconic--arrow-right {
    @include iconic(arrow-right);
}
.iconic--arrow-up {
    @include iconic(arrow-up);
}
.iconic--diary {
    @include iconic(diary);
}
.iconic--doc {
    @include iconic(doc);
}
.iconic--facebook {
    @include iconic(facebook);
}
.iconic--glasses {
    @include iconic(glasses);
}
.iconic--insta {
    @include iconic(insta);
}
.iconic--list {
    @include iconic(list);
}
.iconic--mail {
    @include iconic(mail);
}
.iconic--map-2 {
    @include iconic(map-2);
}
.iconic--map {
    @include iconic(map);
}
.iconic--open-book {
    @include iconic(open-book);
}
.iconic--phone {
    @include iconic(phone);
}
.iconic--plus {
    @include iconic(plus);
}
.iconic--settings {
    @include iconic(settings);
}
.iconic--star-2 {
    @include iconic(star-2);
}
.iconic--star {
    @include iconic(star);
}
.iconic--user {
    @include iconic(user);
}
.iconic--vk {
    @include iconic(vk);
}
.iconic--www {
    @include iconic(www);
}